@media (max-width: 900px){
    .blogs-main-new{
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
    .blogs-news-img-container{
        grid-row: 2;
    }
    .blogs-news-info-container{
        grid-column: 1;
        grid-row: 3;
    }
    .blogs-post-container .post-container{
        max-width: 45%;
    }
    .porfile-main-new{
        grid-template-columns: 2fr;
        grid-template-rows: 1fr 1fr;
    }
    .perfil-img-container{
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .perfil-info-container{
        padding-top: 0;
        margin-top: 0;
    }
}
@media (max-width: 600px){
    .blogs-post-container .post-container{
        max-width: 95%;
    }
}